.addTask{
  width: 80%;
  text-align: center;
  // overflow-y: scroll;
  background: rgba($color-link, .4);
  border: 2px solid $color-orangered;
  font-size: .5rem;
  flex-flow: column;
  & .addProject__item-date{
    margin-bottom:  2rem;
  }
  & .formUI__details{
    padding: 0;
    & .formUI__name-input{
      margin: 0;
      margin-bottom: 2rem;
    }
  }
  & > * > *,::placeholder{
    font-size: 2rem;
    color: $color-link;
  }
  &__modifier{
    &2{
      color: orangered;
      font-weight: bolder;
    }
    &3{
      color: $color-white;
      letter-spacing: 1.5px;
      margin: .5rem auto;
      &:active{
        transform: translateY(4px);
      }
      &:focus{
        outline: none;
      }
    }
  }
}
