*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  // 1 rem
  font-size: 62.5%;
  font-family: sans-serif;
  letter-spacing: .5px;

  @include respond(tab-land){
    font-size: 56.25%;
  }
  @include respond(tab-port){
    font-size: 50%;
  }
  @include respond(big-desktop){
    font-size: 75%;
  }
}

body{
  margin: 0;
  padding: 0;
}

a {
  color: $color-white;
  text-decoration: none;
}
