.HIGH{
  background: rgba($color-secondary-red,.9);
  color:$color-link;
}
.MEDIUM{
  background: rgba($color-secondary-warning,.9);
  color:$color-link;
}
.LOW{
  background: rgba($color-secondary-blue,.9);
  color:$color-link;
}
