.HIGH{
  background: rgba($color-secondary-red,.9);
  color:$color-link;
  // &:hover{
  //  transform:scale(1.005);
  // //
  // //
  // //
  // //
  // //
  // //
  // //
  //    }
}
.MEDIUM{
  background: rgba($color-secondary-warning,.9);
  color:$color-link;
}
.LOW{
  background: rgba($color-secondary-blue,.9);
  color:$color-link;
}
