.HIGH{
  background: rgba($color-red,1);
  color:$color-link;
  transition: all .5s;
  &:hover{
   // transform:scale(1.005);
   background: $color-orangered;
      cursor:pointer;
  //
  //
  //
  //
  //
  //
     }
}
.MEDIUM{
  transition: all .5s;
  background: rgba($color-warning,1);
  color:$color-link;
  &:hover{
   // transform:scale(1.005);
   background: $color-orangered;
   cursor:pointer;
  //
  //
  //
  //
  //
     }
}
.LOW{
  transition: all .5s;
  background: rgba($color-secondary-blue,1);
  color:$color-link;
  &:hover{
   // transform:scale(1.005);
   background: $color-orangered;
      cursor:pointer;
  //
  //
  //
  //
  //
  //
     }
}
