.sideDrawer{
  z-index: 10000;
  font-size: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  color: $color-link;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  visibility: hidden;
  background-image: linear-gradient(to left,rgba($color-link,.85),rgba($color-link,.7)), url("../../../../assets/images/sideDrawer.jpg");
  background-size: cover;
  background-position: left;
  transition: all .5s ease-out;
  color: $color-white;
  // transition-delay:.5s;
}
.open{
  visibility: visible;
  width: 30rem;
}
.close{
  width: 0;
  visibility: hidden;
}
