.formUI{
  min-height: 40rem;
  box-shadow: 1px 1px 10px rgba($color-link,.4);
  width:30%;
  display: flex;
  // display: inline-block;
  padding:auto;
  border-radius: 8px;
  overflow: hidden;
  @include respond(tab-port){
    width:50%;
  }
  @include respond(phone){
    width:90%;
    flex-flow: column;
  }
  &__heading{
    background: $color-grey-dark-3;
    color: $color-white;
    font-size: 2rem;
    padding: 1rem 2rem;
  }
  &__head{
    font-weight: lighter;
  }
  &__para{
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  &__details{
    flex-grow: 1;
    padding: 1rem 2rem;

    background: rgba($color-link,.7);
    color: $color-white;
    & > *{
      margin-bottom: 1rem;
    }
  }
  &__name,&__email,&__pass,&__pass2{
    &-input{
      width: 100%;
      font-size: 1.5rem;
      margin-top: 1rem;
      padding: 1rem 1rem;
      border: none;
      background: $color-grey-dark-2;
      border-right: 6px solid transparent;
      color:$color-white;
      transition: all .2s;
      &:focus{
        border-right: 6px solid $color-grey-dark-3;
        outline: none;
      }
    }
  }
}
::placeholder{
    color: $color-white;
}
