// abstracts
@import "styles/abstracts/functions";
@import "styles/abstracts/mixins";
@import "styles/abstracts/variables";

// base
@import "styles/base/base";

// layout
@import "styles/layout/layout";

// sass-components
@import "styles/sass-components/navigation/toolbar/toolbar";
@import "styles/sass-components/navigation/toolbar/nav-items/nav-items";
@import "styles/sass-components/navigation/toolbar/nav-items/nav-item/nav-item";
@import "styles/sass-components/navigation/side-drawer/side-drawer";
@import "styles/sass-components/main/formUI";
@import "styles/sass-components/main/main";
@import "styles/sass-components/btn/submit-btn";
@import "styles/sass-components/background/background";
@import "styles/sass-components/dashboard/dashboard";
@import "styles/sass-components/project-item/project-item";
@import "styles/sass-components/dark-btn/dark-btn";
@import "styles/sass-components/add-project/add-project";
