.projectBoard{
  &__anatomy{
   width: 100%;
   height: 100%;
   font-size: 1.5rem;
   color: $color-link;
  }
  &__head{
    padding: 1.5rem 2.5rem;
  }
  &__body{
    padding: 1.5rem 2.5rem;
    text-transform:capitalize;
  }
  &__foot{
    padding: .1rem 2.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    background: $color-grey-dark-2;
    font-size: 30rem;
    &-modifier{

      &1{
        background: rgba($color-cyan,.9);
        color: $color-secondary-pink;
      }
      &2{
        background: rgba($color-red,.9);
        color: $color-secondary-pink;
        margin-left: 2rem;
      }
      &1,&2{
        border-radius: 100px;
        padding: 1rem 3.5rem;
        font-size: 2rem;
        opacity: 0;
        visibility: hidden;
        @include respond(phone){
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
.projectBoard__anatomy:hover > .projectBoard__foot > a > .projectBoard__foot-modifier1{
  visibility: visible;
  opacity: 1;
}
.projectBoard__anatomy:hover > .projectBoard__foot  > .projectBoard__foot-modifier2{
  visibility: visible;
  opacity: 1;
}
